@using WP_DZ_PR_23_2018.Models;
@{
    ViewBag.Title = "Chart";
    Kupovina chartItems = (Kupovina)Session["chartItems"];
}

@if (TempData["message"] != null)
{
    <p style="text-align:center; font-family:Cambria; font-size:20px; font-weight:bold; font-style:italic;">@TempData["message"]</p>
    TempData["message"] = null;
}

<h2 style="text-align:center; color:black; font-size:30px;">Shopping chart</h2>
<br />
@if (Session["kupac"] != null && chartItems != null)
{

<table class="content" style="border-left:0px; border-right:0px;">
    <tr style="border-bottom:2px solid black; border-top:2px solid black;">
        <td width="800" align="center" style="font-weight:bold; font-size:20px; font-family:Cambria;">Naziv</td>
        <td width="800" align="center" style="font-weight:bold; font-size:20px; font-family:Cambria;">Autor</td>
        <td width="300" align="center" style="font-weight:bold; font-size:20px; font-family:Cambria;">Cena</td>
        <td width="300" align="center" style="font-weight:bold; font-size:20px; font-family:Cambria;">Opcije</td>
    </tr>
    @if (chartItems.Knjige.Count != 0)
    {
    foreach (Knjiga k in chartItems.Knjige)
    {
        <tr style="border-bottom:2px solid black; border-top:2px solid black;">
            <td width="800" align="center" style="font-size:20px; font-family:Cambria;">@k.Naziv</td>
            <td width="800" align="center" style="font-size:20px; font-family:Cambria;">@k.Autor</td>
            <td width="300" align="center" style="font-size:20px; font-family:Cambria;">@k.Cena</td>
            <td width="300" align="center" style="font-size:20px; font-family:Cambria;">
                <a style="font-size:20px;" href="~/Shopping/RemoveItem?naziv=@k.Naziv&autor=@k.Autor&cena=@k.Cena">Remove</a>
            </td>
        </tr>
    }
    <tr style="border-bottom:2px solid black; border-top:2px solid black;">
        <td width="800" align="center" style="font-weight:bold; font-size:20px; font-family:Cambria;"></td>
        <td width="800" align="right" style="font-weight:bold; font-size:20px; font-family:Cambria;">Ukupna cena:</td>
        <td width="300" align="center" style="font-weight:bold; font-size:20px; font-family:Cambria;">@chartItems.UkupnaCena</td>
        <td width="300" align="center" style="font-weight:bold; font-size:20px; font-family:Cambria;"></td>
    </tr>
    }
</table>   
    <br /><br />
    <p style="text-align:right; font-size:22px; font-weight:bolder;"><a href="~/Shopping/Buy">Kupi</a></p>
}
else
{
    <br />
    <p style="text-align:center; font-style:italic; font-size:20px; font-weight:500; font-family:Cambria;">Korpa je prazna</p>
}

<p style="text-align:right;"><a href="~/Shopping/Index">Istorija kupovina</a></p>

<br /><br />
<a href="~/Books/Index">Nazad</a>

